import React, { PropTypes } from 'react';

class {{ name }} extends {{{ type }}} {
  render() {
    return (
      <div>
      </div>
    );
  }
}

{{ name }}.propTypes = {
};

export default {{ name }};
